DO_ACCESS_TOKEN=<your_do_access_token>
PASSWORD=<password_to_your_docker_registry>
DO_SSH_KEY_FINGERPRINT=<finger_print_for_your_do_saved_ssh_key_to_allow_ssh_to_new_boxes>
ROOT_PASS=<your_mysql_cluster_root_password>
REPL_PASS=<your_replication_user_mysql_cluster_password>
